:root {
  --red-500: #f44336;
  --green-500: #4caf50;
  --yellow-500: #ffeb3b;
  --bluegray-500: #607d8b;
  --blue-500: #2196f3;
  --violet-500: #9c27b0;
  --cyan-500: #00bcd4;
  --pink-500: #e91e63;
  --orange-500: #ff9800;
  --lime-500: #cddc39;
  --purple-500: #9c27b0;
  --text-color: #000;
}
